/* element selector */
body {
  /* background-color: aqua; */
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 30px;
  font-style: oblique;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: burlywood;
  animation: slidein 1s forwards;
  animation-iteration-count: initial;
}

nav {
  background-color: black;
}

h1 {
  color: black;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: burlywood;
}

h1:hover {
    color: teal;
  border: 8px solid black;]
}

/* class selector */
.red {
  color: brown;
}

.blue {
  color: blue;
}

.box {
  width: 800px;
  height: fit-content;
  border: 8px solid black;
  padding: 10px;
  margin: 10px;
  animation: bounce 1s forwards;
  animation-iteration-count: initial;
}

a:hover {
  color: teal;
  border: 8px solid black;]
  
}

img {
  position: left;
  border: 5px solid teal;
  background-color: black;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
}
 
img:hover {
    position:absolute;
  background-color: teal;
  margin-left: 10px;
  transition: 1s ease;
  width: 30%;

  
}

.carousel {
    width: 750px;
    height: 500px;
    background-origin: 5px dashed black;
    animation: changeImage 15s forwards;
    animation-iteration-count: infinite;
  }

@keyframes changeImage {
    0% {
      background-image: url("/images/MCBC_Wireframe_Sprint1_presentation.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    20% {
      background-color: url("/images/MCBC_Wireframe_Sprint1_presentation2.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    40% {
      background-image: url("images/MCBC_Wireframe_Sprint1_presentation3.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    60% {
      background-color: url("/images/MCBC_Wireframe_Sprint1_presentation.png4");
      background-repeat: no-repeat;
      background-size: cover;
    }
    80% {
      background-image: url("images/MCBC_Wireframe_Sprint1_presentation5.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    100% {
      background-color: url("/images/MCBC_Wireframe_Sprint1_presentation6.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(-500px);
    }
    to {
      transform: translateX(0px);
    }
  }
 
  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(500px);
    }
    100% {
      transform: translateY(0px);
    }
  }
/* nav a { */
/* :hover ; */
