/* element selector */
body {
  /* background-color: aqua; */
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 30px;
  font-style: oblique;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: burlywood;
}

nav {
  background-color: black;
}

h1 {
  color: black;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: burlywood;
}

/* class selector */
.red {
  color: brown;
}

.blue {
  color: blue;
}

.box {
  width: 800px;
  height: fit-content;
  border: 8px solid black;
  padding: 10px;
  margin: 10px;
}

/* nav a { */
:hover ;
